<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon-180x180.png"/>
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/img/favicon-194x194.png" sizes="194x194"/>
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/img/android-chrome-192x192.png" sizes="192x192"/>
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="/img/manifest.json"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="/img/mstile-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>

    <!-- Hide this line for IE (needed for Firefox and others) -->
    <!--[if !IE]>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <![endif]-->
    <!-- This is needed for IE -->
    <link rel="shortcut icon" href="/img/favicon-16x16.png" type="image/ico" />

    <base href="{{ base }}"/>

    <title>RichMole | Home</title>

    <link href="/css/main.css" rel="stylesheet"/>

    <script src="/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home"><img border="0" alt="RichMole" src="/img/favicon-32x32.png"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/game#">Game</a></li>
            <li><a href="/store#">Store</a></li>
            <li><a href="/register#">Account</a></li>
            <li><a href="/demo#">Demo</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id="alerts"></div>

    <div class="container-fluid theme-showcase" role="main">

      <div class="page-header">
        <h1>RichMole: The Game</h1>
      </div>
      <div class="container-fluid">
	<div class = "row">
        <div class = "col-sm-9">
            <div id="richmole-content">

	    <!--Game Trailer video-->
	    <iframe width="560" height="315" src="https://www.youtube.com/embed/tmeOjFno6Do" frameborder="0" allowfullscreen></iframe>

	    <br/><br/>
	    <p>RichMole is a game of skill and determination. Play as our courageous hero Whacka Mole as he avoids the Hammer of Doom wielded by his enemies.  Navigate trecherous terrain and avoid death spikes and predators as you attempt to recover the Grub of Truth!</p>

	    <p>Play with friends or play our award winning single player mode.  Contains over 100 levels of various challenges and skill levels! You can visit the Garden of South Quad or naviage the isolated Land of Far Quad!</p>

	    <p>You can buy RichMole: The Game via our digital store.  Simply navigate over to our store, add to cart, provide your purchase information, and poof! It's yours! Or if you're the kind of person who likes to try something out before you buy it, check out our game demo <a href="/demo#">here</a>!</p>  

	    <p>To date, 19,447,554 people are enjoying the action/adventure found in RichMole! Will you be one of them?!</p>

            </div>
        </div>
        <div class = "col-sm-3" id="richmole-wrapper">
            <div id="richmole-panel">
                <img border="1" alt="RichMole" src="/img/android-chrome-192x192.png"/>
                <br/><br/><form action="/store#"><input type="submit" value="Buy"/></form>
                <br/><form action="/demo#"><input type="submit" value="Demo"/></form>
                <br/><br/>
                <h3><a href="/cart#">Cart (${{total}})</a></h3>
                <!--<br/>
                {% block content %}
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-group">
                                {% for id,name,quantity in ships %}
                                    <li class="list-group-item">
                                        <form enctype="application/json" method="DELETE">
                                            <p>{{name}} x{{quantity}} <input type="submit" value="X"/></p>
                                            <input type="hidden" name="item" value="{{id}}"/>
                                        </form>
                                    </li>
	                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endblock %}-->
            </div>
        </div>
    </div>
      </div>

    </div> <!-- /container-fluid -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
