<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <base href="{{ base }}">

    <title>FeedND | Items</title>

    <link href="css/main.css" rel="stylesheet">

    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <div id="alerts"></div>
    

    <div id="order-panel" class="container-fluid">
      <form id="item-add-form" class="form-horizontal" role="form">
	<div class="form-group">
	  <button id="order-panel-close-button" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <h3 class="text-center">Add Item</h3>
          <h4 id="item-name"></h4> <p id="item-description"></p>
	</div>
        <input id="item-id-input" class="form-control" type="hidden">
        <div class="form-group">
          <label for="item-quantity-input" class="control-label">Quantity</label>
          <input
             id="item-quantity-input" class="form-control"
             type="text" name="quantity"
             value="1">
          <button type="submit" class="btn btn-default">Add to Order</button>
	</div>
      </form>
    </div>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home">Feed ND</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="restaurants">Restaurants</a></li>
            <li><a href="orders">Orders</a></li>
            <li><a href="users">Users</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Feed ND</h1>
        <p>Food. Notre Dame. What else ya need?</p>
      </div>
      {% block content %}
      <div class="page-header">
        <h1><a href="/restaurants/{{rID}}/menus">{{rName}}</a> | <a href="/restaurants/{{rID}}/menus/{{mID}}/sections">{{mName}}</a> | {{sName}}</h1>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-group">
            {% for name,description,price in items %}
            <li class="list-group-item">
              <a href="/restaurants/{{rID}}/menus/{{mID}}/sections/{{sID}}/items/{{name}}"
                class="item-link" data-id="{{name}}">
                <h4 class="item-name list-group-item-heading">{{name|replace('_',' ')}}</h4>
                <p class="item-price list-group-item-text">{{price}}</p>
                <p class="item-description list-group-item-text">{{description}}</p>
              </a>
            </li>
	    {% endfor %}

          </ul>
        </div><!-- /.col-sm-4 -->
      </div>
      {% endblock %}

    </div> <!-- /container-fluid -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <script src="js/items.js"></script>
  </body>
</html>
