<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon-180x180.png"/>
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/img/favicon-194x194.png" sizes="194x194"/>
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/img/android-chrome-192x192.png" sizes="192x192"/>
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="/img/manifest.json"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="/img/mstile-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>

    <!-- Hide this line for IE (needed for Firefox and others) -->
    <!--[if !IE]>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <![endif]-->
    <!-- This is needed for IE -->
    <link rel="shortcut icon" href="/img/favicon-16x16.png" type="image/ico" />

    <base href="{{ base }}"/>

    <title>RichMole | Register</title>

    <link href="/css/main.css" rel="stylesheet"/>

    <script src="/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home"><img border="0" alt="RichMole" src="/img/favicon-32x32.png"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/game">Game</a></li>
            <li><a href="/store">Store</a></li>
            <li class="active"><a href="/register#">Account</a></li>
            <li><a href="/demo#">Demo</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id="alerts"></div>

    <div class="container-fluid theme-showcase" role="main">

      <div class="page-header">
        <h1>User Registration</h1>
      </div>
      <div class="container-fluid">
	<div class = "row">
        <div class = "col-sm-9">
          <div id="richmole-content">
	  <p>If you already have an account, please <a href="/login">login here</a></p>
	  <form id="user-add-form" class="form-horizontal" role="form" method="POST" action="/register/" enctype="application/json" target="">
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-username-input">Username:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="user-username-input" name="username" placeholder="Enter username" required />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-password-input">Password:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="user-password-input" name="password" placeholder="Enter password" required />
              <div id="password-error" class="validation-error"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-confirm-input">Confirm:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="user-confirm-input" name="confirm" placeholder="Confirm password" required />
              <div id="confirm-error" class="validation-error"></div>
            </div>
          </div>
	  <br/><h4 align=center>User Info</h4>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-firstname-input">First Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="user-firstname-input" name="firstname" placeholder="Enter first name" required />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-lastname-input">Last Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="user-lastname-input" name="lastname" placeholder="Enter last name" required />
            </div>
          </div>
	  <div class="form-group">
            <label class="control-label col-sm-2" for="user-email-input">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="user-email-input" name="email" placeholder="Enter email" required />
              <div id="email-error" class="validation-error"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-phone-input">Phone:</label>
            <div class="col-sm-10">
              <input type="tel" class="form-control" id="user-phone-input" name="phone" placeholder="Enter phone number" required />
              <div id="phone-error" class="validation-error"></div>
            </div>
          </div>
	  <div class="form-group">
            <label class="control-label col-sm-2" for="user-address-input">Address:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="user-address-input" name="address" placeholder="Address" required />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-city-input">City:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="user-city-input" name="city" placeholder="City" required />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-state-input">State:</label>
            <div class="col-sm-10">
              <select class="form-control" id=user-state-input" name="state" required />
		<option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
              </select>
            </div>
          </div>

	  <div class="form-group">
            <label class="control-label col-sm-2" for="user-zipcode-input">Zip Code:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="user-zipcode-input" name="zipcode" placeholder="Enter zip code" required />
              <div id="zipcode-error" class="validation-error"></div>
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>
        </div>
        <div class = "col-sm-3" id="richmole-wrapper">
            <div id="richmole-panel">
                <img border="1" alt="RichMole" src="/img/android-chrome-192x192.png"/>
                <br/><br/><button type="button">Buy</button>
                <br/><br/><button type="button">Demo</button>
            </div>
        </div>
    </div>
      </div>

    </div> <!-- /container-fluid -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
